.header-grid{
    display:grid;
    background-color: rgb(128, 0, 124);
    grid-template-columns: 120px 1fr 2fr;
}

align-items:center;
.logo-box img{
        border:1px solid #ddd;
        border-radius:50%;
        padding: 15px;
        width: 250px; 
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.nav-flex{
    display:flex;
    
}
a:link{
    text-decoration: none;
    text-decoration-color: white;
    padding-left: 5px;
}
h1,h2,h3,h4,h5,h6{
        font-weight: 400;
        text-decoration-color:blanchedalmond
}
.hero{
    position:relative;
     
}
h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
article{
    position:absolute;
    top: 20%;
    left: 10%;
    max-width:100%;
}   
.img2{
    width: 500px;
    height: auto;
    float:right;
    margin-left:3px;
}
/*.hero img{
    display:block;
    width:100%
    height:auto;
    float:right;
    margin-left:10px;
}*/