.logo-box img{
        border:1px solid #ddd;
        border-radius: 4px;
        padding: 15px;
        width: 100px; 
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
a:link{
    text-decoration: none;
    text-decoration-color: white;
}
h1,h2,h3,h4,h5,h6{
        font-weight: 400;
        text-decoration-color:blanchedalmond
}
div.hero img{
    position:relative;
}
div.hero h1{
    position:absolute;
}
div.hero article{
    position:absolute;
}
/*.hero img{
    display:block;
    width:100%
    height:auto;
    float:right;
    margin-left:10px;
}*/